/* driver edit form */
:root {
  --primary: #1aac83;
  --error: #e7159e;
}

.edit-form {
  max-width: 1700px;
  padding: 20px;
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", sans-serif;
  
}


.edit input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 65%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit button {
  background: #4caf50;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.edit input.check {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 15%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit input[type="submit"] {
  background: var(--primary);
}

.edit select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edtspn {
  color: rgb(69, 61, 232);
}
